@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background-color: hsl(0, 0%, 95%);
	font-family: 'Lexend Deca', sans-serif;
}

.container {
	width: 920px;
	height: 495px;
	display: flex;
	margin: 130px auto;
}

.sedans .suvs .luxury {
	width: calc(100% / 3);
}

.sec-box {
	color: hsl(0, 0%, 95%);
	margin: 50px 40px;
}

.sec-header img {
	margin: 0 0 40px 0;
}

.sec-header h1 {
	font-family: 'Big Shoulders Display', cursive;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.sec-body {
	color: hsla(0, 0%, 100%, 0.75);
	margin-bottom: 70px;
}

.sedans {
	background-color: hsl(31, 77%, 52%);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.suvs {
	background-color: hsl(184, 100%, 22%);
}

.luxury {
	background-color: hsl(179, 100%, 13%);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.btn {
	width: 145px;
	height: 45px;
	border-radius: 50px;
	font-weight: bold;
	border: solid 2.5px hsl(0, 0%, 95%);
	cursor: pointer;
	background-color:  hsl(0, 0%, 95%);
}

.btn-sed {
	color: hsl(31, 77%, 52%);
}

.btn-suv {
	color: hsl(184, 100%, 22%);
}

.btn-lux {
	color: hsl(179, 100%, 13%);
}

.btn:hover {
	background-color: transparent;
	color: hsl(0, 0%, 95%);
}

footer {
	position: relative;
	text-align: center;
	bottom: 20px;
	width: 100%;
}

/* responsividade */

@media (max-width: 375px) {

	.container {
		width: 87%;
		flex-wrap: wrap;
	}

	.sedans {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		border-bottom-left-radius:0;
	}

	.luxury {
		border-top-right-radius: 0;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	footer {
		display: none;
	}
}
