@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background-color: hsl(210, 46%, 95%);
	font-family: 'Manrope', sans-serif;
	font-size: 13px;
  line-height: 1.5;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card {
	width: clamp(320px, 50vw, 50vw);
	padding: 35px;
  margin-top: 60px;
}

.container, .content-img {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  background-color: white;
}

.content-img {
	flex: 3 1 30ch;
	height: calc(275px + 5vw);
	overflow: hidden;
}

.content-img img {
	max-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	object-fit: cover;
	object-position: 10% 90%;
}

.container {
	border-radius: 8px;
	overflow: hidden;
  position: relative;
}

.content {
	padding: 16px 32px;
	flex: 4 1 40ch;
}

.content-title {
	margin: 0;
	font-size: clamp(1.4em, 1.8vw, 1.8em);
  color: hsl(217, 19%, 35%);
	font-weight: 700;
	margin-bottom: 10px;
}

.content-text {
	color: hsl(214, 17%, 51%);
	margin-bottom: 20px;
}

.content-social {
	display: flex;
	justify-content: space-between;
  height: 40px;
}

.profile {
	display: flex;
}

.profile img {
	width: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.profile-name h4 {
	color: hsl(217, 19%, 35%);
	margin-top: 5px;
}

.profile-name p {
	color: hsl(212, 23%, 69%);
}

.btn-share {
	width: 28px;
	height: 28px;
	background-color: hsl(210, 46%, 95%);
	border-radius: 50%;
	border: none;
	cursor: pointer;
	display: block;
	margin-top: 8px;
}

ion-icon {
  color: hsl(217, 19%, 35%);
}

.btn-share:hover {
	background-color: hsl(217, 19%, 35%);
}

.btn-share:hover ion-icon {
	color: white;
}

/* share pop-up */
.share-popup {
	width: 200px;
	height: 45px;
	padding: 15px;
  top: 300px;
	right: 24vw;
	border-radius: 8px;
	display: none;
	position: fixed;
	background-color: hsl(217, 19%, 35%);
}
.share-popup-tip {
	width: 0px;
	height: 0px;
	position: relative;;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid hsl(217, 19%, 35%);
	bottom: -10px;
	left: 73px;
}
.share-content {
	display: flex;
	justify-content: space-evenly;
	color: hsl(212, 23%, 69%);
	letter-spacing: 4px;
	font-size: 10px;
}
.share-content img{
	width: 16px;
	height: 15px;
}
.popup-open {
	display: block;
}
/* -------------- */

footer {
	position: absolute;
	text-align: center;
	bottom: 20px;
	width: 100%;
}

/* div {
	color: hsl(217, 19%, 35%);
	color: hsl(214, 17%, 51%);
	color: hsl(212, 23%, 69%);
	color: hsl(210, 46%, 95%);
} */

@media (max-width: 1162px) {
  .share-popup {
    width: 100%;
    height: 60px;
    padding: 15px;
    top: auto;
    bottom: 0px;
    right:  0px;
    border-radius: 0 0 8px 8px;
    display: none;
    position: absolute;
    background-color: hsl(217, 19%, 35%);
  }

  .share-popup-tip {
    display: none;
  }

  .share-content {
    display: flex;
    justify-content: flex-start;
    color: hsl(212, 23%, 69%);
    letter-spacing: 4px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 5px;
}
  .share-content img{
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
  .popup-open {
    display: block;
  }

  .btn-share {
    z-index: 1;
    background-color: hsl(214, 17%, 51%);
  }

  ion-icon {
    color: white;
  }

  footer {
    display: none;
  }
}
